@font-face{
	font-family: "Univers Bold";
	src: url('../fonts/Univers-Bold.otf');
}
@font-face{
	font-family: "Univers Extra Black";
	src: url('../fonts/Univers-ExtraBlackObl.otf');
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Univers Bold", sans-serif;
}
a{
	color: #0093ff;
	text-decoration: none;
}
nav{
	width: 100%;
	height: 95px;
	background-color: #171717;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
body{
	background-color: #171717;
	animation: fadeIn 0.7s;
	position: relative;
}
header.frontpage{
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-position: center top;
	margin-top: 75px;
	height: 700px;
	position: relative;
}
.ribbon{
	padding-top: 30px;
	background-color: #ffe852;
	width: 100%;
	height: 125px;
	text-align: center;
	bottom: 140px;
	z-index: 3;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
	overflow: hidden;
	transform: skewY(-10deg);
}
.ribbon span{
	font-weight: bold;
}
.ribbon .top{
	font-family: "Univers Extra Black", sans-serif;
	display: block;
	font-size: 50px;
	line-height: 40px;
	animation: slideFromLeft 0.5s ease-out;
}
.ribbon .bottom{
	font-family: "Univers Extra Black", sans-serif;
	display: block;
	font-size: 30px;
	line-height: 23px;
	text-indent: -10px;
	transform: scale(1.7,1);
	animation: slideFromRight 0.5s ease-out;
}
.ribbon-lower{
	background-color: #171717;
	width: 100%;
	height: 315px;
	bottom: -170px;
	z-index: 1;
	transform: skewY(-10deg);
}
.content-wrapper{
	max-width: 1000px;
	width: 100%;
	margin: 100px auto 0px auto;
	position: relative;
}
.content-wrapper.frontpage{
	z-index: 2;
	margin: -200px auto 0px auto;
}
.frontpage hr{
	border-color: #ffe852;
}
.frontpage h1, .frontpage h2{
	letter-spacing: 2px;
}
main{
	color: #ffe852;
	width: 100%;
	padding: 25px 10px 10px 10px;
}
main article{
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}
main h1, main h2, main h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
main .page-title{
	padding: 0px 20px;
	background-color: #ffe852;
	height: 70px;
	margin-bottom: 25px;
	overflow: hidden;
	transform: skewX(-20deg);
}
main .page-title h1{
	margin: 0;
	line-height: 70px;
	color: #171717;
	transform: skewX(20deg);
}
main p{
	line-height: 25px;
	margin-top: 20px;
}
.nyc{
	width: 100%;
	background-color: #171717;
	display: block;
	margin-bottom: -1px;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}
.frontpage iframe{
	display: block;
	margin: 0px auto;
}
.logo{
	float: left;
	height: 75px;
	padding-top: 25px;
	padding-left: 20px;
}
.logo a{
	color: #ffe852;
	height: 75px;
	line-height: 75px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	float: left;
}
.logo img{
	width: auto;
	height: 50px;
}
.hamburger-toggle{
	display: none;
	position: absolute;
	height: 95px;
	width: 95px;
	right: 0;
	opacity: 0;
	cursor: pointer;
}
.hamburger-toggle:checked ~ .links{
	display: block;
}
.hamburger{
	width: 65px;
	height: 65px;
	border: 5px solid #ffe852;
	border-radius: 10px;
	cursor: pointer;
	margin: 15px 10px 0px 0px;
	display: none;
	float: right;
}
.hamburger > div{
	height: 5px;
	width: 35px;
	margin: 10px auto 0px auto;
	border-radius: 10px;
	background-color: #ffe852;
}
.links{
	display: block;
	float: right;
	background-color: #171717;
	margin-right: 10px;
}
.links ul{
	list-style-type: none;
}
.links li{
	display: inline-block;
	cursor: pointer;
	transform: skewX(-20deg);
}
.links li a{
	color: #ffe852;
	text-decoration: none;
	line-height: 95px;
	font-size: 18px;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	transform: skewX(20deg);
}
.links li:hover{
	background-color: #ffe852;
}
.links li:hover a {
	color: #171717;
}
.links li.active{
	background-color: #ffe852;
}
.links li.active a{
	color: #171717;
}
footer{
	z-index: 15;
	width: 100%;
	line-height: 70px;
	text-align: center;
	margin-top: 25px;
	font-weight: bold;
	font-size: 20px;
	color: #171717;
}
footer .inner{
	background-color: #ffe852;
}
.grid-items{
	list-style-type: none;
	width: 100%;
}
.grid-items li{
	position: relative;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	display: inline-block;
	width: 32.9%;
	border: 5px solid rgba(0,0,0,0.0);
	/* animation bug fix chrome */
	transform: scale(1.0, 1.0);
}
.ribbons{
	margin-top: -250px;
}
.grid-items li:hover .item-ribbon{
	transform: skewY(0deg);
	height: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
}
.grid-items li:hover .description{
	display: block;
}
.grid-items li a{
	display: block;
	color: #ffe852;
}
.grid-items .item-ribbon{
	position: absolute;
	width: 100%;
	text-align: center;
	display: block;
	height: 100px;
	bottom: 30px;
	background-color: #171717;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	transform: skewY(-10deg);
	transition: height 0.3s, bottom 0.3s, background-color 0.3s, transform 0.3s;
}
.item-ribbon h2{
	margin: 0;
}
.grid-items li img{
	height: 250px;
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
	object-position: center top;
}
.grid-items .title{
	font-size: 30px;
	line-height: 50px;
	display: block;
}
.grid-items .undertitle{
	font-size: 18px;
}
.grid-items .description{
	font-style: italic;
	display: none;
	font-size: 16px;
	padding: 10px 5px 5px 5px;
}
.button-buy{
	display: block;
	color: #171717;
	background-color: #ffe852;
	padding: 10px 20px;
	width: 50%;
	font-size: 14px;
	margin: 20px auto;
	transform: skewX(-20deg);
}
.button-buy span{
	display: block;
	transform: skewX(20deg);
}
details[open] {
	animation-name: fadeInDown;
	animation-duration: 0.5s;
}
summary{
	cursor: pointer;
	outline: none;
}
.season-table {
	margin-top: 20px;
	overflow: hidden;
}
.season-table table{
	width: 100%;
	/*min-width: 600px;*/
	border-collapse: collapse;
	margin-top: 10px;
}
.season-table table td{
	padding: 5px;
}
.season-table thead{
	font-size: 22px;
	text-align: left;
}
.season-table tr:hover{
	background-color: #ffe852;
	color: #171717;
}
.season-table tr td:first-child,
.season-table tr td:last-child,
.season-table tr th:first-child,
.season-table tr th:last-child{
	text-align: center;
}
.season-table h2{
	display: inline;
	z-index: 1;
}
.contact-form label{
	line-height: 32px;
	padding-top: 10px;
	font-size: 16px;
}
.button-wrapper{
	background-color: #ffe852;
	float: right;
	margin-top: 10px;
	border: 2px solid #171717;
	transform: skewX(-20deg);
}
.button-wrapper:hover{
	background-color: #171717;
	border-color: #ffe852;
}
.button-wrapper:hover button{
	color: #ffe852;
}
.button-wrapper button{
	font-size: 25px;
	background-color: rgba(0,0,0,0.0);
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	transform: skewX(20deg);
}
.form-element{
	display: block;
	border: 2px solid #ddd;
	border-radius: 10px;
	padding: 6px 12px;
	font-size: 20px;
	color: #171717;
	width: 100%;
	margin: 10px auto;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
}
#message{
	resize: vertical;
	min-height: 100px;
}
.upper-form{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	grid-gap: 25px;
}
.item-list{
	min-height: 250px;
	list-style-type: none;
}
.item-list li{
	display: none;
}
.item-list li:target{
	display: block;
}
.item-list li img{
	width: 40%;
	height: 250px;
	object-fit: cover;
	float: left;
	display: block;
	border-radius: 20px;
}
.item-list .item-attributes{
	float: right;
	display: block;
	width: 60%;
	padding-left: 20px;
	padding-right: 20px;
}
.item-list .title{
	font-size: 40px;
	margin-top: 10px;
}
.item-list .undertitle{
	font-size: 20px;
	font-style: italic;
}
.item-list .title, .item-list .undertitle, .item-list .price{
	display: block;
	width: 100%;
	text-align: center;
}
.item-list .description{
	margin-top: 10px;
	display: block;
}
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
	border-radius: 20px;
}
.lightbox:target {
	outline: none;
	display: block;
}
.footer-wrapper{
	overflow-x: hidden;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@keyframes slideFromLeft{
	from { margin-left: -150%;}
	to   { margin-left: 0%; }
}
@keyframes slideFromRight{
	from { margin-right: -150%;}
	to   { margin-right: 0%; }
}
@keyframes fadeIn{
	from{ opacity: 0; }
	to  { opacity: 1; }
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media (max-width: 1350px){
	.jake{
		display: none;
	}
}
@media (max-width: 1050px){
	main{
		overflow-x: hidden;
	}
}
@media (max-width: 800px) {
	/* responsive table */
	.season-table table, .season-table table thead, .season-table table tbody, .season-table table th, .season-table table td, .season-table table tr {
		display: block;
	}
	.season-table table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.season-table table td {
		border: none;
		position: relative;
		padding-left: 55%;
	}
	.season-table table td:before {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.season-table table tr{
		margin: 20px 0px;
		padding: 10px;
		background-color: #ffe852;
		border-radius: 10px;
		color: black;
	}

	.season-table td:nth-of-type(1):before { content: "#"; }
	.season-table td:nth-of-type(2):before { content: "Title"; }
	.season-table td:nth-of-type(3):before { content: "Original air date"; }
	.season-table td:nth-of-type(4):before { content: "Viewers (millions)"; }

	.season-table tr td:first-child,
	.season-table tr td:last-child,
	.season-table tr th:first-child,
	.season-table tr th:last-child{
		text-align: left;
	}
	/* end responsive table */

	.item-list li img, .item-list .item-attributes{
		width: 100%;
	}
	.upper-form{
		grid-template-columns: 1fr 1fr;
	}
	.grid-items li{
		width: 49.5%;
	}
	.links{
		margin-top: 75px;
		display: none;
		margin-right: 0px;
		float: none;
		box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
	}
	.hamburger, .hamburger-toggle, .links li{
		display: block;
	}
	.links li, .links li a{
		transform: skewX(0deg);
	}
}
@media (max-width: 500px) {
	.grid-items li{
		width: 100%;
	}
	.ribbon{
		font-size: 30px;
	}
	header.frontpage{
		background-position: 40% top;
	}
	footer{
		font-size: 12px;
	}
}